:root {
  /* Colors */
  --color-text: #64748b;
  --color-text-alt: white;
  --color-bg: #ffffff;
  --color-title: #2d3748;
  --color-subtitle: rgb(75, 85, 99);
  --color-active-section: rgb(248, 250, 252);
  --color-border: rgba(255, 255, 255, 0.2);
  --color-itm-borders: #e5e7eb;
  --color-hover-bg: #e2e8f0;
  --color-hover-text: #1e293b;
  --color-shadow: rgba(0, 0, 0, 0.1);

  /* Navbar */
  --color-navbar: rgba(255, 255, 255, 0.1);
  --color-active-bg: #dbeafe;
  --color-active-text: #3b82f6;
  --color-navbar-menu-bg: #ffffff;

  /* Hero */
  --color-title-gradient: linear-gradient(135deg, rgb(64, 120, 192), rgb(52, 66, 86));
  --color-proj-btn: linear-gradient(135deg, rgb(72, 130, 200), rgb(88, 102, 156));
  --color-proj-btn-shadow: rgba(81, 105, 210, 0.4);
  --color-proj-btn-hover: rgba(81, 105, 210, 0.8);
  --color-cont-btn: rgb(64, 120, 192);

  /* About */
  --color-img-bg: #f5f8ff;

  /* Experience */
  --color-badge-bg: #dcfce7;
  --color-badge-txt: #166534;
  --color-bullets: #3b82f6;
  --color-role: black;
  --color-description: black;

  /* Projects */
  --color-tech-bg: #edf2f7;
  --color-tech-text: #4a5568;
  /* Fonts */
  --font-roboto: "Roboto";
}