:root {
  /* Colors */
  --color-highlight: #3b82f6;
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #fff;

  /* Fonts */
  --font-roboto: "Roboto";
}